@import "mixins/spacing";
@import "mixins/flex";
@import "mixins/font";

html, body, #root {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: 'albert-sans';
  background-color: var(--background);
  padding: 0;
  margin: 0;
}

// ----------------------------------------------------------------
// Setup variables
$max-page-size: 42;
$page-padding: 1;
$image-scale-power: 3;
$title-scale-power: 1.75;
$button-text-scale-power: 0.75;


// ----------------------------------------------------------------

// Styling for desktop
@media only screen and (min-width: 601px) {
  .header-container {

  }

  .button-container {
    all: unset;
    @include flex-gap(1, linear);
  }
}

// Styling for mobile
@media only screen and (max-width: 600px) {
  .header-container {
    @include flex-justify-content(center);
  }

  .button-container {
    all: unset;
    @include flex-justify-content(space-between);
  }
}

.app-root {
  @include flex-row;
  @include width-full;
  @include flex-justify-content(center);
}

.app-container {
  @include flex-column;
  @include width($max-page-size, linear);
}

.app-content {
  @include flex-column;
  @include flex-gap(1, linear);
  @include padding($page-padding, linear);

  flex-grow: 1;
}

// Styling for the header of the page
.header-container {
  @include flex-row;
  @include flex-gap(0, power);
  @include flex-wrap;

  .logo-content {
    img {
      @include height($image-scale-power, power);
      object-fit: contain;
    }
  }

  .title-content {
    @include flex-row;
    @include flex-align-items(center);

    .title {
      @include font-black;
      @include font-size($title-scale-power, power);
    }
  }

}

// Styling for the buttons of the page
.button-container {
  @include flex-row;
  @include font-bold;
  @include font-size($button-text-scale-power, power);


  li { all: unset; }
  li.active {
    border-bottom-color: var(--color);
    border-bottom-width: scale-value(2, linear, px);
    border-bottom-style: solid;
  }
}

// Styling for the body of the page
.body-container {}