$fonts: 100 200 300 400 500 600 700 800 900;

@mixin fonts($list) {
  @for $i from 1 through length($list) {
    $value: nth($list, $i);

    @font-face {
      font-family: 'albert-sans';
      font-style: normal;
      //font-display: swap;
      font-weight: $value;
      src: url(./assets/fonts/albertsans/albert-sans-latin-#{$value}-normal.woff2) format('woff2'),
        url(./assets/fonts/albertsans/albert-sans-latin-#{$value}-normal.woff) format('woff');
      //unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
    }

    @font-face {
      font-family: 'albert-sans';
      font-style: italic;
      //font-display: swap;
      font-weight: $value;
      src: url(./assets/fonts/albertsans/albert-sans-latin-#{$value}-italic.woff2) format('woff2'),
      url(./assets/fonts/albertsans/albert-sans-latin-#{$value}-italic.woff) format('woff');
      //unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
    }
  }
}

// Generate all the albert sans fonts
@include fonts($fonts);