// Spacing values in powers
$spacing-indices: 0 1 2 3 4 5 6 7 8 9 10;
$spacing-values-power: 0rem 0.5rem 1rem 2rem 4rem 8rem 16rem 32rem 64rem 128rem 256rem;
$spacing-values-linear: 0rem 1rem 2rem 3rem 4rem 5rem 6rem 7rem 8rem 9rem 10rem;
$spacing-values-fibonacci: 0rem 1rem 2rem 3rem 5rem 8rem 13rem 21rem 34rem 55rem 89rem;


// Clear all the margins and spacing
.clear-margin, .clear-spacing {
    margin: 0;
}

.clear-padding, .clear-spacing {
    padding: 0;
}
@mixin spacings($indices, $list, $suffix) {
    @for $i from 1 through length($indices) {
        $index: nth($indices, $i);
        $value: nth($list, $i);


        .flex-gap-#{$index}#{$suffix} {
            gap: $value;
        }
        .b-#{$index}#{$suffix} {
            border-radius: $value;
        }
        .mtb-#{$index}#{$suffix} {
            margin-top: $value;
            margin-bottom: $value;
        }
        .mt-#{$index}#{$suffix} {
            margin-top: $value;
        }
        .mb-#{$index}#{$suffix} {
            margin-bottom: $value;
        }
        .mlr-#{$index}#{$suffix} {
            margin-left: $value;
            margin-right: $value;
        }
        .ml-#{$index}#{$suffix} {
            margin-left: $value;
        }
        .mr-#{$index}#{$suffix} {
            margin-right: $value;
        }
        .ptb-#{$index}#{$suffix} {
            padding-top: $value;
            padding-bottom: $value;
        }
        .pt-#{$index}#{$suffix} {
            padding-top: $value;
        }
        .pb-#{$index}#{$suffix} {
            padding-bottom: $value;
        }
        .plr-#{$index}#{$suffix} {
            padding-left: $value;
            padding-right: $value;
        }
        .pl-#{$index}#{$suffix} {
            padding-left: $value;
        }
        .pr-#{$index}#{$suffix} {
            padding-right: $value;
        }
        .m-#{$index}#{$suffix} {
            margin: $value;
        }
        .p-#{$index}#{$suffix} {
            padding: $value;
        }

        .width-#{$index}#{$suffix}, .square-#{$index}#{$suffix} {
            width: $value;
        }
        .height-#{$index}#{$suffix}, .square-#{$index}#{$suffix} {
            height: $value;
        }
        .max-width-#{$index}#{$suffix}, .max-square-#{$index}#{$suffix} {
            max-width: $value;
        }
        .min-width-#{$index}#{$suffix}, .min-square-#{$index}#{$suffix} {
            min-width: $value;
        }
        .max-height-#{$index}#{$suffix}, .max-square-#{$index}#{$suffix} {
            max-height: $value;
        }
        .min-height-#{$index}#{$suffix}, .min-square-#{$index}#{$suffix} {
            min-height: $value;
        }
    }
}

// Builds all the different sizing types
@include spacings($spacing-indices, $spacing-values-power, '');
@include spacings($spacing-indices, $spacing-values-linear, 'l');
@include spacings($spacing-indices, $spacing-values-fibonacci , 'f');

.round {
    border-radius: 100%;
}

.text-center {
    text-align: center;
}

.width-full, .square-full {
    width: 100%;
}

.height-full, .square-full {
    height: 100%;
}

.max-width-full, .max-square-full {
    max-width: 100%;
}

.max-height-full, .max-square-full {
    max-height: 100%;
}

.min-width-full, .min-square-full {
    min-width: 100%;
}

.min-height-full, .min-square-full {
    min-height: 100%;
}