html, body, #root {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'albert-sans';
    background-color: var(--background);
    padding: 0;
    margin: 0;
    font-size: 32px;
}

.app-content {
    max-width: 18rem;
}

.shadow {
    box-shadow: 0px 0px 10px #ccbfbf;
}

.thumbnail img {
    width: auto;
    height: 8rem;

    object-fit: contain;
}

/* Container Styles */
.container {
    background-color: var(--light-background);
    border-radius: 0.5rem;
    max-width: 64rem;
    z-index: 10;
}

.horz-line {
    border-bottom-color: var(--theme-base);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

/* Clear Font - Defaults */
h1, h2, h3, h4, h5, h6 {
    letter-spacing: var(--font-spacing);
    font-weight: 400;
}

.font-color {
    color: var(--theme-base);
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

p {
    max-width: 30rem;
}

.cursor-point {
    cursor: pointer;
}

.content,
.show-header,
.hide-header:target {
  display: none !important;
}
.hide-header:target + .show-header,
.hide-header:target ~ .content {
  display: block !important;
}

a { 
    text-decoration: inherit;
    color: inherit; 
} 

h1 {
    font-size: 46px;
    letter-spacing: var(--font-h1-spacing);
}

.subtitle {
    font-size: 18px;
    letter-spacing: var(--font-subtitle-spacing);
}

/* Font Weights */
.font-thin {
    font-weight: 100;
}

.font-extra-light {
    font-weight: 200;
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semi-bold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-extra-bold {
    font-weight: 800;
}

.font-black {
    font-weight: 900;
}

.font-extra-black {
    font-weight: 950;
}

/* Row or column styles */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow-1 {
    flex-grow: 1;
}

/* Align Items */
.flex-ai-center {
    align-items: center;
}

.flex-ai-start {
    align-items: flex-start;
}

.flex-ai-end {
    align-items: flex-end;
}

/* Justify Content */
.flex-jc-center {
    justify-content: center;
}

/* Justify Content */
.flex-jc-between {
    justify-content: space-between;
}

/* Justify Content */
.flex-jc-around {
    justify-content: space-around;
}

/* Justify Content */
.flex-jc-stretch {
    justify-content: stretch;
}

.flex-jc-even {
    justify-content: space-evenly;
}

.flex-jc-start {
    justify-content: flex-start;
}

.flex-jc-end {
    justify-content: flex-end;
}

.flex-jc-spaced {
    justify-content: space-between;
}

/* Align Content */
.flex-ac-center {
    align-content: center;
}

.flex-ac-start {
    align-content: flex-start;
}

.flex-ac-end {
    align-content: flex-end;
}


/* Button config */
.button-list {
    padding: 0;
    margin: 0;
}

.button-list a {
    list-style: none;
    background-color: var(--theme-base);
    color: var(--theme-base-contrast);
    border-radius: 0.5rem;
}

ul {
    all: unset;
}

li {
    all: unset;

}

li.active {
    border-bottom-color: var(--color);
    border-bottom-width: 2px;
    border-bottom-style: solid;
}