// Mixin for flex row
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

// Mixin for flex column
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// Mixin for flex wrap
@mixin flex-wrap {
  flex-wrap: wrap;
}

// Mixin for flex grow
@mixin flex-grow($value) {
  flex-grow: $value;
}

// Mixin for align items
@mixin flex-align-items($alignment) {
  align-items: $alignment;
}

// Mixin for justify content
@mixin flex-justify-content($justify) {
  justify-content: $justify;
}

// Mixin for align content
@mixin flex-align-content($alignment) {
  align-content: $alignment;
}